@import "../../colors";

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $background-color;
    color:$text-color;
    font-weight: bold;
    padding: 1%;
    h3{
        padding: 1%;
    }
    div{
        display: flex;
        justify-content: space-around;
        font-weight: lighter;
        gap: 10px;
        span{
            padding: 1%;
            a{
                all: unset;
                cursor: pointer;
                color: $details-color;
            }
            &:hover{
                color: $details-color;
                -ms-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
}