.google-container{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
}

.logo{
    height: auto;
    width: 42%;
}

.input-container{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
}

.input-container input{
    all: unset;
    width: 100%;
}

.search{
    margin-top: 5px;
    margin-left: 10px;
    padding: 0.5em;
    height: 20px;
    width: 20px;
    color: #9aa0a6;
}

.microphone{
    margin-top: 5px;
    margin-right: 10px;
    padding: 0.5em;
    height: 20px;
    width: 20px;
}

.buttons-container button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.languaje-container a{
    margin: 0.5em;
    cursor: pointer;
}