@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

.Header{
    font-family: Dosis, Verdana, sans-serif;
    font-size: large;
    margin: 1%;
    background-color: white;
}